body {
    background-color: rgb(207, 199, 199); /*This is the background color of the Webpage */
    color: black; /* The color of the text*/
}


h1 {
    background-color: rgb(249, 243, 243); /*background color for the main heading */
    border: 3px solid; /* added a solid border of 3 pixels */
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    
}

h2 {
    border: 1px solid; /* added a solid border of 2 pixels to the second heading */
    text-align: center;
    margin-top: 0;

    
}   

h2, h3 {
    background-color: rgb(184, 177, 177); /*background color for the second heading and other subheadings */
    text-align: center; /* aligned the text of the headings to the center*/
}

p { 
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
.page-wrapper { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  auto auto auto auto;
    gap: 10px;
    padding: 10px;
    margin: 0;
    
}


.summary, .preamble, .explanation, 
.participation, .benefits, .requirements, 
.sidebar, .design-selection, .design-archives, .zen-resources, footer{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(227, 221, 221);
    border-radius: 5%;
    margin: 5px;
    
}

.intro {
    display: grid;
    grid-column: 1 / span 2;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}
header {
    grid-column: 1 / span 2;
}
.summary {
    grid-column: 1;
    
}

.preamble {
    grid-column: 2;
}

#zen-supporting {
    display: grid;
    grid-column: 1 / span 2;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.explanation {
    grid-column: 1;
    width: 200%;
}

.participation {
    grid-column: 3;
    width: 200%;
    
}

.benefits {
    grid-column: 1;
    width: 200%;
    
}

.requirements {
    grid-column: 3;
    width: 200%;
}

footer {
    grid-column: 1 / span 4;
    
}

.sidebar {
    grid-column: 1 / span 2;
    grid-row: 3 / 3;

}


